@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Qahiri&family=Roboto:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center ;
  padding: 50px 0;
}

body {
  font-family: 'Roboto', sans-serif;
}